.table-container {
    background-color: #bccdd3;
    width: 70%!important;
    color: #050101;
    text-align: center;
    font-size: 12px;
    align-content: center;
} 
#table{
    align-content: center;
    align-items: center;
}
Button{
    width: 200px;

}
